@font-face {
    font-family: 'IrishGrrove';
    src: url(../fonts/IrishGrover-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

html {
    --td-text: #fff;
    --td-bgcolor: #0ff;
    --td-border: .15em solid red;
    --fon-color2: rgb(0, 0, 90);
    --fon-color: #0ff;
    --fon-text: #000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--fon-color2);
    /* color: var(--fon-text); */
    color: var(--td-text);
}


/* section #start */

.header {
    background-color: rgb(30, 20, 40);
    padding: .5rem;
    margin-bottom: 1rem;
}

.logo {
    position: relative;
    & .icon {
        text-align: center;
        margin-left: 10px;
        /* cursor: pointer; */
        position: absolute;
        left: 0;
        top: 0;
        & img {
            width: 3rem;
            height: 3rem;
            margin: 4px auto;
        }
    }
}

#title {
    font-family: 'IrishGrrove';
    & h1 {
        font-size: 1.5em;
        color: rgb(255, 255, 0);
    }
    & #title_small {
        font-size: .5em;
        color: #fff;
    }
}


/* section #attention */

#attention {
    width: 50vw;
    height: 30vh;
    margin: auto;
    display: none;
    position: absolute;
    left: 24vw;
    &.alert {
        border-radius: 2em;
        z-index: 1;
    }
}

#warning {
    padding-left: 3rem;
}


/*section #counter */

.block {
    display: none;
}


/* #main */

.word,
td {
    width: 2em;
    height: 2em;
    font-size: 1.25em;
    font-weight: bold;
    border: var(--td-border);
    border-radius: 50%;
    background-color: var(--fon-color);
    color: #000;
    text-align: center;
    margin-left: 2px;
}

#main .word {
    border-color: green;
    @media (width > 1200px) {
        font-size: 1em;
    }
}


/* section #input */


/* table {
    border-collapse: separate;
    margin: 25px auto;
} */


/* section #reference */

.modal-content {
    position: relative;
    color: #000;
    min-width: 40vw;
    & #header-content {
        font-size: 0.6rem;
        width: 100%;
        text-align: center;
    }
    & #modalword {
        font-size: 1.2rem;
        background: inherit;
        cursor: pointer;
        text-decoration: underline;
    }
    & .btn-close {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    & #frame {
        width: inherit;
        height: 100%;
        font-size: 1rem;
    }
}

iframe {
    height: 100%;
    width: 100%;
}

.modal-resize {
    height: 75vh;
}

#mytext {
    text-transform: uppercase;
    font-weight: bold;
}


/* section "keyboard" */

#keyboard {
    display: none;
    & #keys {
        border-collapse: separate;
        margin: 50px auto;
        & .key {
            width: 2rem;
            height: 2rem;
            font-size: 1rem;
            background: blue;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 20%;
            text-align: center;
            transition-property: transform;
            transition-duration: 0.3s;
            &[data-state="true"]:hover {
                cursor: pointer;
                opacity: .7;
                transform: scale(1.15);
            }
            @media (width > 992px) {
                width: 3rem;
                height: 3rem;
                font-size: 1.5rem;
            }
        }
    }
}


/* section #comment */

#disqus_thread {
    background-color: rgb(0, 68, 68);
}

#comment {
    position: relative;
    display: flex;
    justify-content: center;
}

#viewcomm {
    display: flex;
    justify-content: start;
    align-items: center;
}

#comment svg {
    fill: #fff;
}

#hidecomm {
    width: 1em;
    height: 1em;
    font-size: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: .5rem;
    right: 2rem;
    background-color: inherit;
}